.photo__grid {
  max-width: 95%;
  padding: 0;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 16px;
  align-items: center;
}

@media screen and (max-width: 1024px) {
    
.photo__grid {
    max-width: calc(100%-2*48px);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 14px;
}

}

@media screen and (max-width: 768px) {
  
.photo__grid {
  max-width: calc(100%-2*24px);
  grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
  gap: 16px;
}

}

@media screen and (max-width: 320px) {

.photo__grid {
    max-width: calc(100%-2*16px);
    grid-template-columns: repeat(auto-fill, minmax(216px, 1fr));
    gap: 12px;
  }
  

}