.intro__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 148px;
}

@media screen and (max-width: 1024px) {
    
.intro__item {
    margin-left: 48px;
  }

}

@media screen and (max-width: 768px) {
  
.intro__item {
    margin-left: 24px;
}

}

@media screen and (max-width: 320px) {

  
  .intro__item {
    margin-left: 12px;
  }

}