.place__image {
  max-width: 100%;
  max-height: 460px;
}

@media screen and (max-width: 1029px) {
  .place__image {
    max-height: 440px;
  }
}

@media screen and (max-width: 773px) {
  .place__image {
    min-height: 340px;
  }
}

@media screen and (max-width: 550px) {
  .place__image {
    max-height: 330px;
  }
}

@media screen and (max-width: 550px) {
  .place__image {
    max-height: 320px;
  }
}
