.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  max-width: 92%;
}

@media screen and (max-width: 768px) {
  .footer__columns {
    max-width: 98%;
  }
}

@media screen and (max-width: 380px) {
  .footer__columns {
    flex-direction: column;
    max-width: 100%;
    padding-left: 16px;
  }
}
