.footer {
  margin: auto;
  background-color: #2A2C2F;
  color: #fff;
  max-width: 100%;
  padding-top: 92px;
  padding-bottom: 24px;
}

@media screen and (max-width: 320px) {

.footer {
    padding-top: 64px;
  }

}